.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .container {
  width: 610px;
  display: flex;
}
.main .container .box {
  width: 50%;
  height: 230px;
  background-color: var(--banner-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.main .container .box .banner {
  width: 7.4rem;
  align-self: start;
}
.main .container .box .banner img {
  width: 100%;
}
.main .container .box h3 {
  font-family: "OulMailRegular";
  font-size: clamp(1.2rem, 1.4vh, 0.1rem);
}
.main .container .info {
  width: 50%;
  height: 230px;
  box-shadow: 0.5px 0.5px 0.1rem var(--border-black-color);
  background-color: var(--backgroundSecund-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  border: 1px solid var(--border-black-color);
  border-left: 0px;
}
.main .container .info h2 {
  font-size: clamp(1.2rem, 1.4vh, 0.1rem);
  margin-bottom: 1.1rem;
}
.main .container .info .info-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 2rem;
}
.main .container .info .info-email .display-erro {
  display: none;
  width: 80%;
  font-size: clamp(0.9rem, 1.4vh, 0.1rem);
  color: var(--text-color-red);
}
.main .container .info .info-email input {
  width: 80%;
  height: 44px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.06);
  background-color: var(--input-background);
  padding: 0px 0.5rem;
  outline: 0.1px solid rgba(0, 0, 0, 0.231372549);
  border: 1px solid var(--border-black-color);
  border-radius: 0px;
  font-family: "OulMailRegular", "OulMailLight", "OulMailBold";
  font-size: clamp(0.95rem, 1.4vh, 0.7rem);
}
.main .container .info .info-email input::placeholder {
  text-align: end;
  font-size: clamp(0.9rem, 1.4vh, 0.4rem);
  color: var(--text-white-color);
}
.main .container .info .info-email input:hover {
  box-shadow: 0px 0px 2px rgb(0, 149, 255);
  border: 1px solid var(--border-blackSecund-color);
}
.main .container .info .info-email label {
  cursor: text;
  position: absolute;
  display: block;
  left: 2.5rem;
  top: 1.1rem;
  font-size: clamp(0.9rem, 1.4vh, 0.4rem);
  color: var(--text-white-color);
  font-family: "OulMailRegular", "OulMailLight", "OulMailBold";
}
.main .container .info .info-email div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.main .container .info .info-email div .next-email {
  cursor: pointer;
  width: 100%;
  height: 2.2rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0rem;
  font-size: clamp(0.9rem, 1.4vh, 0.4rem);
  color: var(--btn-color-text);
  background-color: var(--btn-color-background);
  border-bottom: 3px solid var(--btn-color-backgroundSecund);
}
.main .container .info .info-email div .next-email:active {
  transition: all 0.5s ease-in-out;
  border-top: 3px solid var(--btn-color-backgroundSecund);
  border-bottom: 3px solid transparent;
}
.main .container .info .info-email div h3 {
  font-size: clamp(0.89rem, 1.4vh, 0.4rem);
  text-align: center;
  text-wrap: nowrap;
}
.main .container .info .info-email div h3 span {
  color: #1383BF;
  cursor: pointer;
}
.main .container .info .info-password {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.main .container .info .info-password div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
}
.main .container .info .info-password div h3 {
  font-family: "OulMailBold";
  font-size: clamp(1.1rem, 1.4vh, 0.5rem);
  text-align: center;
  text-wrap: nowrap;
}
.main .container .info .info-password div div {
  width: 100%;
  height: 2.56rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid var(--border-black-color);
  border-radius: 2.5rem;
  padding: 1rem 0px;
  gap: 0.7rem;
  overflow: hidden;
}
.main .container .info .info-password div div .border-icon {
  min-width: 14%;
  width: 1.3rem;
  height: 85%;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .info .info-password div div .border-icon i {
  font-size: clamp(1.1rem, 1.4vh, 0.5rem);
  color: var(--icon-white-color);
}
.main .container .info .info-password div div .icon-info {
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.main .container .info .info-password div div .icon-info .nickname {
  font-family: "OulMailRegular", "OulMailLight", "OulMailBold";
  font-size: clamp(0.9rem, 1.4vh, 0.5rem);
  color: var(--textSecund-white-color);
}
.main .container .info .info-password div div .icon-info i {
  font-size: clamp(0.9rem, 1.4vh, 0.5rem);
  margin-right: 1.2rem;
  color: var(--textSecund-white-color);
  cursor: pointer;
}
.main .container .info .info-password .password-box {
  position: relative;
}
.main .container .info .info-password .password-box .password-label {
  position: absolute;
  cursor: text;
  left: 0.5rem;
  top: 0.8rem;
  font-size: clamp(0.9rem, 1.4vh, 0.5rem);
  color: var(--textSecund-white-color);
}
.main .container .info .info-password .password-box .password-show {
  width: 25%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--input-background);
  position: absolute;
  cursor: pointer;
  right: 0.5rem;
  top: 0.3rem;
  font-size: clamp(0.9rem, 1.4vh, 0.5rem);
  color: var(--text-color-blue);
  text-decoration: underline;
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;
}
.main .container .info .info-password .password-box input {
  width: 100%;
  height: 44px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.06);
  background-color: var(--input-background);
  padding: 0px 0.7rem;
  outline: 0.1px solid rgba(0, 0, 0, 0.231372549);
  border: 1px solid var(--border-black-color);
  border-radius: 0px;
  font-family: "OulMailRegular", "OulMailLight", "OulMailBold";
  font-size: clamp(0.95rem, 1.4vh, 0.7rem);
}
.main .container .info .info-password .password-box input::placeholder {
  text-align: end;
  font-size: clamp(0.9rem, 1.4vh, 0.4rem);
  color: var(--text-white-color);
}
.main .container .info .info-password .password-box input:hover {
  box-shadow: 0px 0px 2px rgb(0, 149, 255);
  border: 1px solid var(--border-blackSecund-color);
}
.main .container .info .info-password .info-buttons {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.main .container .info .info-password .info-buttons .next-password {
  cursor: pointer;
  width: 100%;
  height: 2.2rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0rem;
  font-size: clamp(0.9rem, 1.4vh, 0.4rem);
  color: var(--btn-color-text);
  background-color: var(--btn-color-background);
  border-bottom: 3px solid var(--btn-color-backgroundSecund);
}
.main .container .info .info-password .info-buttons .next-password:active {
  transition: all 0.5s ease-in-out;
  border-top: 3px solid var(--btn-color-backgroundSecund);
  border-bottom: 3px solid transparent;
}
.main .container .info .info-password .info-buttons h3 {
  cursor: pointer;
  font-family: "OulMailRegular", "OulMailLight", "OulMailBold";
  font-size: clamp(0.89rem, 1.4vh, 0.5rem);
  text-align: center;
  text-wrap: nowrap;
  color: var(--text-color-blue);
}
.main .info-email {
  width: 610px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 1rem;
}
.main .info-email h3 {
  font-size: clamp(0.9rem, 1.4vh, 0.5rem);
  text-align: center;
  text-wrap: nowrap;
  color: var(--textSecund-white-color);
}
.main .info-email div {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}
.main .info-email div a {
  font-size: clamp(0.9rem, 1.4vh, 0.5rem);
  color: var(--text-color-blue);
  text-align: center;
  text-wrap: nowrap;
  text-decoration: none;
}
.main .info-email div a:hover {
  transition: all 1.2s ease-in-out;
  text-decoration: underline;
}

/*# sourceMappingURL=layout.css.map */
