form{
    display: none;
}
input{
    width: 100%;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: unset;
    border-bottom: 1.5px solid var(--border-color);
    font-family: 'Poppins', 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
    font-size: clamp(0.8rem , 1.5vh ,0.4rem);
    &:focus,&:active{
        transition: all ease-in-out 1.5s;
        border-bottom: 1.5px solid var(--border-blue-color);
    }
    &::placeholder{
        color: var(--color-white-black-text);
    }
}
.main{
    width: 100%;
    height: calc(100% - 1.7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 100%;
        // height: 60%;
        // max-height: 495px;
        display: flex;
        justify-content: center;
        align-items: center;
        .main-center{
            width: 455px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            // padding: 20px;
            .main-logo{
                width: 171px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                }
            }
            .main-context{
                padding: 40px;
                width: 100%;
                height: 339px;
                background-color: var(--background-color);
                box-shadow: 1px 2px 5px 1px var(--box-show-color);
                .login-logo{
                    width: 100px;
                    img{
                        width: 100%;
                    }
                }
                .login{
                    width: 100%;
                    height: 100%;
                    .login-password,.login-email{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1.46rem;
                        margin-top: 0.7rem;
                        h3{ 
                            font-family: 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                            font-size: clamp(1.5rem , 1.5vh ,0.4rem);
                            display: flex;
                            flex-direction: column;
                            gap: 0.36rem;
                            span{
                                display: inline;
                                font-size: clamp(0.8rem , 1.5vh ,0.4rem);
                            }
                        }
                        .error-email{
                            display: none;
                            h5{
                                font-family: 'Poppins', 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                                font-size: clamp(0.8rem , 1.5vh ,0.4rem);
                                color: var(--color-red-text);
                                span{
                                    cursor: pointer;
                                    color: var(--color-blue-text);
                                }
                            }
                        }
                        h4{
                            font-family: 'Poppins', 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                            font-size: clamp(0.8rem , 1.5vh ,0.4rem);
                            span{
                                cursor: pointer;
                                font-size: clamp(0.7rem , 1.5vh ,0.4rem);
                                color: var(--border-blue-color);
                            }
                        }
                        div{
                            width: 100%;
                            display: flex;
                            justify-content: end;
                            button{
                                cursor: pointer;
                                padding: 10px 20px;
                                background-color: var(--background-blue-color);
                                color: var(--color-white-text);
                                border: 1.5px solid transparent;
                                font-family: 'Poppins', 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                                font-size: clamp(0.8rem , 1.5vh ,0.4rem);
                                &:hover{
                                    transition: all 1.7s ease-in-out;
                                    background-color: var(--background-blueSecund-color);
                                }
                            }
                        }
                    }
                    .login-password{
                        width: 100%;
                        height: 100%;
                        display: none;
                        flex-direction: column;
                        gap: 1rem;
                        .display-check{
                            font-family: 'Poppins', 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                            font-size: clamp(0.8rem , 1.5vh ,0.4rem);
                        }
                        h6{
                            font-family: 'Poppins', 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                            font-size: clamp(1.2rem , 1.5vh ,0.4rem);
                            font-weight: 400;
                        }
                        h4{
                            cursor: pointer;
                            font-family:'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                            font-size: clamp(0.8rem , 1.5vh ,0.4rem);
                            color: var(--color-blue-text);
                        }
                    }
                }
            }
            .main-keys{
                padding: 20px;
                padding-left: 40px;
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
                height: 3.5rem;
                background-color:  var(--background-color);
                box-shadow: 1px 2px 5px 1px var(--box-show-color);
                &:hover{
                    cursor: pointer;
                    transition: all 1.7s ease-in-out;
                    background-color: var(--background-black-color);
                }
                i{
                    color: var(--color-text);
                    font-size: clamp(0.9rem , 1.5vh ,0.4rem);
                    transform: scale(-1, 1);
                }
                h3{
                    color: var(--color-text);
                    font-family: 'Poppins', 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                    font-size: clamp(0.8rem , 1.5vh ,0.4rem);
                }
            }
            .main-info{
                padding: 20px;
                display: none;
                flex-direction: column;
                width: 100%;
                height: 170px;
                background-color: var(--background-color);
                box-shadow: 1px 2px 5px 1px var(--box-show-color);
                gap: 0.5rem;
                .main-info-first{
                    display: flex;
                    justify-content: space-between;
                    h3{
                        font-family: 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                        font-weight: 400;
                        font-size: clamp(0.9rem , 1.5vh ,0.4rem);
                    }
                    i{
                        cursor: pointer;
                        font-size: clamp(0.9rem , 1.5vh ,0.4rem);
                    }
                }
                h3,h4,h5{
                    font-family: 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
                    font-weight: 400;
                    font-size: clamp(0.7rem , 1.5vh ,0.3rem);
                }
                h4{
                    cursor: pointer;
                    font-size: clamp(0.8rem , 1.5vh ,0.3rem);
                    color: var(--footer-color-blue);
                }
                h5{
                    font-size: clamp(0.8rem , 1.5vh ,0.3rem);
                    span{
                        color: var(--footer-color-black);
                        font-weight: 500;
                    }
                    .create-id,.create-date{
                        font-size: clamp(0.7rem , 1.5vh ,0.3rem);
                        font-weight: unset;
                    }
                }

            }
        }
    }
}
.footer{
    width: 100%;
    height: 1.7rem;
    background-color: var(--footer-background);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    padding: 0px 1rem;
    a{
        cursor: pointer;
        font-family: 'Roboto', 'Roboto Mono', 'Krona One', sans-serif;
        font-weight: 400;
        font-size: clamp(0.8rem , 1.5vh ,0.4rem);
        color: var(--footer-color-textSecund);
        text-decoration: none;
        &:hover{
            transition: all 0.5s ease-in-out;
            text-decoration: underline;
            color: var(--footer-color-text);
        }
    }
    i{  
        cursor: pointer;
        margin-left: 0.9rem;
        margin-right: 0.2rem;
        font-size: clamp(0.8rem , 1.5vh ,0.4rem);
        color: var(--footer-color-textSecund);
        &:hover{
            transition: all 0.5s ease-in-out;
            color: var(--footer-color-text);
        }
    }
}